@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo:400,700,800,600);
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.target{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.8;
  background: #f9f9f9;
}

.md-card {
  width: 80%;
  height: 500px;
  display: block;
  margin: 50px auto;
  background: linear-gradient(90deg, #333344 60px, #ffffff 60%, #ffffff);
  box-shadow: 0 0 30px 0 #999;
  border-radius: 15px;
  position: relative;
}

.product-image {
  width: 40%;
  display: block;
  height: 100%;
  position: relative;
  float: left;
}
.product-image img {
  width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-55%, -60%);
}

.product-info {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}

.product-name,
.product-price {
  font-family: "Exo", sans-serif;
}

.product-name {
  font-size: 200%;
  font-weight: 800;
  text-transform: uppercase;
}

.product-price {
  font-size: 180%;
  font-weight: 700;
  color: #333344;
}
.product-price:before {
  content: "€ ";
}

.product-slogan {
  font-family: "Montserrat", sans-serif;
  color: #666;
  margin-bottom: .8em;
}

.preferences {
  display: block;
  list-style: none;
  margin-bottom: 2em;
  margin-top: 1em;
}
.preferences > li {
  float: left;
  padding-right: 30px;
  padding-left: 0px;
}

.blue {
  background: #0f7a94;
}

.red {
  background: #9b062a;
}

.yellow {
  background: #dbfd20;
}

.active {
  box-shadow: inset 0 0 0 2px #0f7a94, inset 0 0 0 4px #fff;
}

.list-name {
  color: #999;
  text-transform: uppercase;
  font-size: 95%;
  letter-spacing: .2em;
  margin-bottom: .5em;
  display: block;
}

.table {
  height: 70%;
  width: 80%;
  border: 0;
}

.qty {
  font-family: "Exo", sans-serif;
  display: block;
  width: 70px;
  text-align: right;
  padding: 5px 0px 5px 10px;
  border-radius: 7px;
  font-size: 1.3em;
  font-weight: 700;
  border: 1.5px solid #999;
  cursor: pointer;
  margin-top: -.7em;
}
.qty option {
  text-align: right;
}
.qty:outline, .qty:active, .qty:focus {
  outline: none;
  border: 0;
}

.cartButton {
  button-size: 100%;
  font-family: "Montserrat", sans-serif;
  background: #334;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-decoration: none;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  transition: .25s;
}
.cartButton:hover {
  background: #555;
}
md-backdrop.md-opaque.md-amber-theme {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute; }

md-bottom-sheet.md-amber-theme {
  background-color: #fafafa;
  border-top-color: #bdbdbd; }
md-bottom-sheet.md-amber-theme.md-list md-item {
  color: rgba(0, 0, 0, 0.54); }
md-bottom-sheet.md-amber-theme .md-subheader {
  background-color: #fafafa; }
md-bottom-sheet.md-amber-theme .md-subheader {
  color: rgba(0, 0, 0, 0.54); }

.md-button.md-amber-theme {
  border-radius: 3px; }
.md-button.md-amber-theme:not([disabled]):hover, .md-button.md-amber-theme:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.2); }
.md-button.md-amber-theme.md-fab {
  border-radius: 50%; }
.md-button.md-amber-theme.md-primary {
  color: #ffca28;
  fill: #ffca28; }
.md-button.md-amber-theme.md-warn {
  color: #ef5350;
  fill: #ef5350; }
.md-button.md-amber-theme.md-raised, .md-button.md-amber-theme.md-fab {
  background-color: rgba(158, 158, 158, 0.185); }
.md-button.md-amber-theme.md-raised:not([disabled]):hover, .md-button.md-amber-theme.md-raised:not([disabled]):focus, .md-button.md-amber-theme.md-fab:not([disabled]):hover, .md-button.md-amber-theme.md-fab:not([disabled]):focus {
  background-color: rgba(158, 158, 158, 0.3); }
.md-button.md-amber-theme.md-raised.md-primary, .md-button.md-amber-theme.md-fab.md-primary {
  color: rgba(0, 0, 0, 0.73);
  background-color: #ffc107; }
.md-button.md-amber-theme.md-raised.md-primary:not([disabled]):hover, .md-button.md-amber-theme.md-raised.md-primary:not([disabled]):focus, .md-button.md-amber-theme.md-fab.md-primary:not([disabled]):hover, .md-button.md-amber-theme.md-fab.md-primary:not([disabled]):focus {
  background-color: #ffb300; }
.md-button.md-amber-theme.md-raised.md-warn, .md-button.md-amber-theme.md-fab.md-warn {
  color: rgba(0, 0, 0, 0.73);
  background-color: #f44336; }
.md-button.md-amber-theme.md-raised.md-warn:not([disabled]):hover, .md-button.md-amber-theme.md-raised.md-warn:not([disabled]):focus, .md-button.md-amber-theme.md-fab.md-warn:not([disabled]):hover, .md-button.md-amber-theme.md-fab.md-warn:not([disabled]):focus {
  background-color: #d32f2f; }
.md-button.md-amber-theme[disabled], .md-button.md-amber-theme.md-raised[disabled], .md-button.md-amber-theme.md-fab[disabled] {
  color: rgba(0, 0, 0, 0.26);
  fill: rgba(0, 0, 0, 0.26);
  background-color: transparent;
  cursor: not-allowed; }

md-card.md-amber-theme {
  border-radius: 2px; }
md-card.md-amber-theme .md-card-image {
  border-radius: 2px 2px 0 0; }

md-checkbox.md-amber-theme .md-ripple {
  color: #43a047; }
md-checkbox.md-amber-theme.md-checked .md-ripple {
  color: #757575; }
md-checkbox.md-amber-theme .md-icon {
  border-color: rgba(0, 0, 0, 0.54); }
md-checkbox.md-amber-theme.md-checked .md-icon {
  background-color: rgba(102, 187, 106, 0.87); }
md-checkbox.md-amber-theme.md-checked .md-icon:after {
  border-color: #eeeeee; }
md-checkbox.md-amber-theme[disabled] .md-icon {
  border-color: rgba(0, 0, 0, 0.26); }
md-checkbox.md-amber-theme[disabled].md-checked .md-icon {
  background-color: rgba(0, 0, 0, 0.26); }

md-content.md-amber-theme {
  background-color: #ffffff; }

md-dialog.md-amber-theme {
  border-radius: 4px;
  background-color: #ffffff; }
md-dialog.md-amber-theme.md-content-overflow .md-actions {
  border-top-color: rgba(0, 0, 0, 0.12); }

md-divider.md-amber-theme {
  border-top-color: rgba(0, 0, 0, 0.12); }

md-progress-circular.md-amber-theme {
  background-color: transparent; }
md-progress-circular.md-amber-theme .md-circle .md-mask .md-fill {
  background-color: #ffc107; }
md-progress-circular.md-amber-theme .md-inset {
  background-color: #ffffff; }

md-progress-linear.md-amber-theme .md-container {
  background-color: #ffecb3; }
md-progress-linear.md-amber-theme .md-bar {
  background-color: #ffc107; }
md-progress-linear.md-amber-theme[md-mode=buffer] .md-dashed:before {
  background: radial-gradient(#ffecb3 0%, #ffecb3 16%, transparent 42%); }
md-progress-linear.md-amber-theme[md-mode=buffer] .md-bar1 {
  background-color: #ffecb3; }

md-radio-button.md-amber-theme .md-container .md-ripple, md-switch.md-amber-theme .md-switch-thumb .md-container .md-ripple {
  color: #43a047; }
md-radio-button.md-amber-theme .md-off, md-switch.md-amber-theme .md-switch-thumb .md-off {
  border-color: rgba(0, 0, 0, 0.54); }
md-radio-button.md-amber-theme .md-on, md-switch.md-amber-theme .md-switch-thumb .md-on {
  background-color: rgba(102, 187, 106, 0.87); }
md-radio-button.md-amber-theme.md-checked .md-off, md-switch.md-amber-theme .md-switch-thumb.md-checked .md-off {
  border-color: rgba(102, 187, 106, 0.87); }
md-radio-button.md-amber-theme.md-checked .md-ink-ripple, md-switch.md-amber-theme .md-switch-thumb.md-checked .md-ink-ripple {
  color: rgba(102, 187, 106, 0.87); }

md-radio-group.md-amber-theme:focus {
  border-color: rgba(0, 0, 0, 0.73); }

md-slider.md-amber-theme .md-track {
  background-color: rgba(0, 0, 0, 0.26); }
md-slider.md-amber-theme .md-track-fill {
  background-color: #ffc107; }
md-slider.md-amber-theme .md-thumb:after {
  border-color: #ffc107;
  background-color: #ffc107; }
md-slider.md-amber-theme .md-sign {
  background-color: #ffc107; }
md-slider.md-amber-theme .md-sign:after {
  border-top-color: #ffc107; }
md-slider.md-amber-theme .md-thumb-text {
  color: rgba(0, 0, 0, 0.73); }
md-slider.md-amber-theme .md-focus-thumb {
  background-color: rgba(0, 0, 0, 0.54); }
md-slider.md-amber-theme .md-focus-ring {
  border-color: rgba(0, 0, 0, 0.12); }
md-slider.md-amber-theme .md-disabled-thumb {
  border-color: #ffffff; }
md-slider.md-amber-theme.md-min .md-thumb:after {
  background-color: #ffffff; }
md-slider.md-amber-theme[disabled] .md-thumb:after {
  border-color: #bdbdbd; }
md-slider.md-amber-theme[disabled]:not(.md-min) .md-thumb:after {
  background-color: #bdbdbd; }

.md-subheader.md-amber-theme {
  color: rgba(0, 0, 0, 0.54);
  background-color: #ffffff; }
.md-subheader.md-amber-theme.md-primary {
  color: #ffc107; }

md-switch.md-amber-theme .md-switch-bar {
  background-color: rgba(0, 0, 0, 0.54); }
md-switch.md-amber-theme .md-switch-thumb:focus .md-label {
  border: 1px dotted black; }

md-tabs.md-amber-theme .md-header {
  background-color: #ffc107; }
md-tabs.md-amber-theme md-tabs-ink-bar {
  background: #ffff85; }
md-tabs.md-amber-theme md-tab {
  color: #ffecb3; }
md-tabs.md-amber-theme md-tab.active {
  color: rgba(0, 0, 0, 0.73); }
md-tabs.md-amber-theme md-tab[disabled] {
  color: rgba(0, 0, 0, 0.12); }
md-tabs.md-amber-theme md-tab:focus {
  border-color: rgba(0, 0, 0, 0.73); }
md-tabs.md-amber-theme md-tab .md-ripple-container {
  color: #ffff85; }

md-input-group.md-amber-theme input, md-input-group.md-amber-theme textarea {
  text-shadow: none; }
md-input-group.md-amber-theme input:-ms-input-placeholder, md-input-group.md-amber-theme textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26); }
md-input-group.md-amber-theme input::-webkit-input-placeholder, md-input-group.md-amber-theme textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.26); }
md-input-group.md-amber-theme label {
  text-shadow: none;
  color: rgba(0, 0, 0, 0.26); }
md-input-group.md-amber-theme input, md-input-group.md-amber-theme textarea {
  color: rgba(0, 0, 0, 0.73);
  border-color: rgba(0, 0, 0, 0.12); }
md-input-group.md-amber-theme.md-input-focused input, md-input-group.md-amber-theme.md-input-focused textarea {
  border-color: #ffc107; }
md-input-group.md-amber-theme.md-input-focused label {
  color: #ffc107; }
md-input-group.md-amber-theme.md-input-has-value:not(.md-input-focused) label {
  color: rgba(0, 0, 0, 0.372); }
md-input-group.md-amber-theme[disabled] input, md-input-group.md-amber-theme[disabled] textarea {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.19) 0%, rgba(0, 0, 0, 0.19) 50%, rgba(0, 0, 0, 0) 0%); }

md-toast.md-amber-theme {
  background-color: #323232;
  color: white; }
md-toast.md-amber-theme .md-button {
  color: white; }
md-toast.md-amber-theme .md-action {
  color: #ffd740; }

md-toolbar.md-amber-theme {
  background-color: #ffc107;
  color: rgba(0, 0, 0, 0.73); }

md-tooltip.md-amber-theme {
  color: #ffffff; }
md-tooltip.md-amber-theme .md-background {
  background-color: rgba(0, 0, 0, 0.52); }

.buttondemoBasicUsage {
  /** From vulcanized demo **/ }
.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button:not(.md-fab) {
  width: 10em; }
.buttondemoBasicUsage section .md-button {
  display: block;
  margin: 1em;
  line-height: 25px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  color: #ccc;
  font-size: 14px; }
