<div class="col-md-14 col-md-offset-1">

    <form name="form"  data-ng-submit="vm.ProductSearch()" role="form" >
    <Table>
      <br>
      <tr>
        <td class="dropdown">

          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Manufacturer
            <!--<span class="caret"></span>-->
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="m in manufacturers">
              <a data-ng-click="dropdown1(m.manufacturerId, m.name)">{{m.manufacturerId }} -> {{m.name }}</a>
            </li>
          </ul>

        </td>
        <td class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Item Category
              <!--<span class="caret"></span>-->
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li ng-repeat="i in itemCategories">
                <a data-ng-click="dropdown2(i.itemCategoryId,i.type)">{{ i.itemCategoryId}} -> {{i.type}}</a>
              </li>
            </ul>

        </td>

        <td class="form-group" ng-class="{ 'has-error': form.searchText.$dirty && form.searchText.$error.required }">
            <input type="text" placeholder="Product name to search (partial will do)" name="searchText" id="searchText" class="form-control" ng-model="searchText"  />
            <!--<span  class="help-block">Enter product to search</span>-->
        </td>

        <td class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Search</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/home" class="btn btn-link">Cancel</a>
        </td>
      </tr>
      <tr>
        <td align="center"> <br> {{manufacturer}} </td>
        <td align="center"> <br> {{itemCategory}} </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>

    </Table>
      <br><br>
    </form>
</div>
<script>
  C
</script>
<div ng-show="stockItems.length > 0">
  <div class="tg">
    <table class="sortable" >
      <tr>
        <th class="sorttable_numeric">Part Number</th>
        <th class="tg-yw4l">Product Name</th>
        <th class="sorttable_numeric">Price</th>
        <th class="sorttable_numeric">Stock Level</th>
        <th class="tg-yw4l">Item Category</th>
        <th class="tg-yw4l">Manufacturer</th>
        <th class="sorttable_numeric">Rating</th>
        <th class="sorttable_numeric">Reviews</th>
        <th class="sorttable_nosort">Image</th>
        <th class="sorttable_nosort"> </th>
        <th class="sorttable_nosort"> </th>
        <th class="sorttable_nosort"> </th>
        <!--<th align="center" colspan="3" class="sorttable_nosort">Quantity to order</th>-->
        <th class="sorttable_nosort">Add To Basket</th>
      </tr>
      <tr ng-repeat="item in stockItems">
        <td>{{item.stockItemId}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stockLevel}}</td>
        <td>{{item.itemCategory.type}}</td>
        <td>{{item.manufacturer.name}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.stockReviews.length}}</td>
        <td>{{item.image}}</td>

        <td> <button type="button" data-ng-click="vm.decrementOrderQty(item)" ><img
          src="images/Minus-40.png" height="20" width="20"/></button></td>

        <td> <input id="qty" type='text' name='quantity' value='{{orderQuantity}}' class='qty'/></td>

        <td> <button type="button" data-ng-click="vm.incrementOrderQty(item)" ><img
          src="images/Plus-40.png" height="20" width="20"/>
        </button> </td>
        <td>Button Add-To-Basket</td>

      </tr>
    </table>
  </div>
</div>
<script>

</script>
