<div class="col-md-4 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" ng-submit="vm.register()" role="form">
      <div class="form-group" ng-class="{ 'has-error': form.firstname.$dirty && form.firstname.$error.required }">
        <label for="firstname">Firstname</label>
        <input type="text" placeholder="Firstname"  name="name" id="firstname" class="form-control" ng-model="vm.name" required />
        <span ng-show="form.firstname.$dirty && form.firstname.$error.required" class="help-block">Firstname is required</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
        <label for="surname">Surname</label>
        <input type="text" placeholder="Surname"  surname="surname" id="surname" class="form-control" ng-model="vm.surname" required />
        <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required</span>
      </div>

      <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <label for="email">Username(email)</label>
        <input type="text" placeholder="Username (your email address)" name="email" id="email" class="form-control" ng-model="vm.email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Username is required</span>
      </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
          <label for="password">Password</label>
          <input type="password" placeholder="Password" name="password" id="password" class="form-control" ng-model="vm.password" required />
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" placeholder="Password Confirmation" name="confirmPassword" id="confirmPassword" class="form-control" ng-model="vm.confirmPassword" required  oninput="check(this)"/>
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Confirmation Password is required</span>
        </div>

        <!-- Select whether this is an admin account. Hide following fields if admin is selected-->

      <div class="form-group" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
        <label for="phone">Phone Number</label>
        <input type="text" placeholder="Phone Number" name="phone" id="phone" class="form-control" ng-model="vm.phone"  />
      </div>

      <div class="checkbox" >
        <label><input ng-model="vm.isAdmin" type="checkbox" id="isAdmin"> Create an Administrator Account</label>
      </div>

      <div data-ng-show="!vm.isAdmin === true" >

        <!-- Create drop down menu of Registered Retailers for manager to p;ick from-->

        <div class="form-group" ng-class="{ 'has-error': form.retailer.$dirty && form.retailer.$error.required }">
          <label for="retailer">Retailer</label>
          <input type="text" placeholder="Retailer" name="retailer" id="retailer" class="form-control" ng-model="vm.retailer"  />
          <select ng-model="retailer">
            <option ng-repeat="obj in retailers" value="{{obj.storename}}">{{obj.storename}}</option>
          </select>
        </div>

      </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>

      <script language='javascript' type='text/javascript'>
        <!-- // password Confirm password Verification Check -->
        function check(input) {
          if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
          } else {
            <!-- input is valid -- reset the error message -->
            input.setCustomValidity('');
          }
        }
      </script>
    </form>
</div>
