<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">
    <form name="serviceForm">

      <div class="block">  <label>Visit Id</label>     <input title="ID"         class="input" disabled value="{{vm.entity.visitid}}" /></div>
      <div class="block">  <label>Entry Time</label>   <input title="Entry Time" class="input" ng-model="vm.entity.entryTime"/>         </div>
      <div class="block">  <label>Exit Time</label>    <input title="Exit Time"  class="input" ng-model="vm.entity.exitTime"/>          </div>
      <div class="block">  <label>User Credited With Visit</label>  <input title="ID"class="input" ng-model="vm.entity.userCreditedWithVisit"/></div>
      <div class="block">  <label>Duration</label>     <input title="Duration"   class="input" g-model="vm.entity.duration"/>           </div>
      <div class="block">  <label>User ID</label>      <input title="User ID"    class="input" ng-model="vm.entity.userid"/>            </div>
      <div class="block">  <label>Zone ID</label>      <input title="Zone ID"    class="input" ng-model="vm.entity.zoneid"/>            </div>
      <div class="block">  <label>Fullname</label>     <input title="Fullname"   class="input" ng-model="vm.entity.fullname"/>          </div>
      <div class="block">  <label>Store Name</label>   <input title="Store Name" class="input" ng-model="vm.entity.storeName"/>         </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.save()">Save</button>
    <button class="btn btn-primary" ng-click="vm.remove()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
