<div>

  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">      <label>Shopping Centre ID </label> <input class="input" disabled value="{{row.entity.shoppingCentreid}}"/> </div>
      <div class="block">      <label>Admin ID </label>           <input class="input" ng-model="row.entity.adminid"/>             </div>
      <div class="block">      <label>Admin ID </label>           <input class="input" ng-model="row.entity.fullname"/>             </div>
      <div class="block">      <label>Content Page </label>       <input class="input" ng-model="row.entity.contentPage"/>         </div>
      <div class="block">      <label>Phone </label>              <input class="input" ng-model="row.entity.phone"/>               </div>
      <div class="block">      <label>Facebook Url </label>       <input class="input" ng-model="row.entity.facebookUrl"/>         </div>
      <div class="block">      <label>Twitter Url </label>        <input class="input" ng-model="row.entity.twitterUrl"/>          </div>
      <div class="block">      <label>Website Url </label>        <input class="input" ng-model="row.entity.websiteUrl"/>          </div>
      <div class="block">      <label>Logo Image Small </label>   <input class="input" ng-model="row.entity.logoImageSmall"/>      </div>
      <div class="block">      <label>Logo Image Medium </label>  <input class="input" ng-model="row.entity.logoImageMedium"/>     </div>
      <div class="block">      <label>Logo Image Large </label>   <input class="input" ng-model="row.entity.logoImageLarge"/>      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveShoppingCentre()">Save</button>
    <!--<button class="btn btn-primary" ng-click="vm.removeShoppingCentre()">Delete</button>-->
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
