<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">  <label>Retailerid </label>                 <input class="input" disabled value="{{vm.entity.retailerid}}" />  </div>
      <div class="block">  <label>Default ContentPage1 </label>       <input class="input" ng-model="vm.entity.defaultContentPage1"/>    </div>
      <div class="block">  <label>Default ContentPage2 </label>       <input class="input" ng-model="vm.entity.defaultContentPage2"/>   </div>
      <div class="block">  <label>Default ContentPage3 </label>       <input class="input" ng-model="vm.entity.defaultContentPage3"/>    </div>
      <div class="block">  <label>Default LoyaltyRewardImage </label> <input class="input" ng-model="vm.entity.defaultLoyaltyRewardImage"/></div>
      <div class="block">  <label>Facebook Url </label>               <input class="input" ng-model="vm.entity.facebookUrl"/>            </div>
      <div class="block">  <label>Twitter Url </label>                <input class="input" ng-model="vm.entity.twitterUrl"/>             </div>
      <div class="block">  <label>Website Url </label>                <input class="input" ng-model="vm.entity.websiteUrl"/>             </div>
      <div class="block">  <label>Logo Image Small </label>           <input class="input" ng-model="vm.entity.logoImageSmall"/>         </div>
      <div class="block">  <label>Logo Image Large </label>           <input class="input" ng-model="vm.entity.logoImageLarge"/>         </div>
      <div class="block">  <label>Logo Image Medium </label>          <input class="input" ng-model="vm.entity.logoImageMedium"/>        </div>
      <div class="block">  <label>Phone </label>                      <input class="input" ng-model="vm.entity.phone"/>                  </div>
      <div class="block">  <label>Store Name </label>                 <input class="input" ng-model="vm.entity.storeName"/>              </div>
      <div class="block">  <label>Header Background Image </label>    <input class="input" ng-model="vm.entity.headerBackgroundImage"/> </div>
      <div class="block">  <label>Manager ID </label>                 <input class="input" ng-model="vm.entity.managerid"/>              </div>
      <div class="block">  <label>Shopping Centre ID </label>         <input class="input" ng-model="vm.entity.shoppingCentreid"/>       </div>
      <div class="block">  <label>Store Default Content Page 1</label><input class="input" ng-model="vm.entity.storeDefaultContentPage1"/></div>
      <div class="block">  <label>Zone ID </label>                    <input class="input" ng-model="vm.entity.zoneid"/>                 </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveRetailer()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeRetailer()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
