<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">
      <div class="block">  <label>User ID </label>        <input class="input"   disabled value="{{row.entity.userid}}" /> </div>
      <div class="block">  <label>Firstname </label>      <input class="input"   ng-model="row.entity.firstname"/>         </div>
      <div class="block">  <label>Surname </label>        <input class="input"   ng-model="row.entity.surname"/>           </div>
      <div class="block">  <label>Email Address </label>  <input class="input"   ng-model="row.entity.emailAddress"/>      </div>
      <div class="block">  <label>Phone </label>          <input class="input"   ng-model="row.entity.phone"/>             </div>
      <div class="block">  <label>Gender </label>         <input class="input"   ng-model="row.entity.gender"/>            </div>
      <div class="block">  <label>Password </label>       <input class="input"   ng-model="row.entity.password"/>          </div>
      <div class="block">  <label>Type </label>           <input class="input"   ng-model="row.entity.type"/>              </div>
      <div class="block">  <label>Year of Birth </label>  <input class="input"   ng-model="row.entity.yob"/>               </div>
      <div class="block">  <label>Active </label>         <input type="checkbox" ng-model="row.entity.active">            </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeUser()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
