<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">      <label>userid </label>        <input class="input" type="number" disabled value="{{row.entity.userid}}" />      </div>
      <div class="block">      <label>retailerid </label>    <input class="input" type="number" disabled value="{{row.entity.retailerid}}"/>   </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveFavourite()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeFavourite()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
