<div>

  <div class="modal-header">
    <div ng-if="addingRow">
      <h3 class="modal-title">Edit Row</h3>
    </div>
    <div ng-if="!addingRow">
      <h3 class="modal-title">Add Row</h3>
    </div>

  </div>

  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">      <label>Zone ID</label>         <input class="input"  disabled value="{{row.entity.zoneid}}" /> </div>
      <div class="block">      <label>Beacon ID </label>      <input class="input"  ng-model="row.entity.beaconid"/>          </div>
      <div class="block">      <label>Zone Name </label>      <input class="input"  ng-model="row.entity.zoneName"/>          </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveZone()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeZone()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
