<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">
      <div class="block">      <label>Beacon ID </label>      <input class="input" disabled value="{{vm.entity.beaconid}}"/></div>
      <div class="block">      <label>Location ID </label>    <input class="input" ng-model="vm.entity.locationid"/>      </div>
      <div class="block">      <label>Major </label>          <input class="input" ng-model="vm.entity.major"/>           </div>
      <div class="block">      <label>Minor </label>          <input class="input" ng-model="vm.entity.minor"/>           </div>
      <div class="block">      <label>Transmit Power </label> <input class="input" ng-model="vm.entity.transmitPower"/>   </div>
      <div class="block">      <label>UUID </label>           <input class="input" ng-model="vm.entity.uuid"/>            </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveBeacon()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeBeacon()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
