<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">      <label>userid </label>      <input class="input" type="text" disabled value="{{vm.entity.userid}}"/> </div>
      <div class="block">      <label>date </label>        <input class="input" type="text" ng-model="vm.entity.date"/>             </div>
      <div class="block">      <label>retailerid </label>  <input class="input" type="text" ng-model="vm.entity.retailerid"/>       </div>
      <div class="block">      <label>rating </label>      <input class="input" type="text" ng-model="vm.entity.rating"/>           </div>
      <div class="block">      <label>review </label>      <input class="input" type="text" ng-model="vm.entity.review"/>           </div>


    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveUser()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeUser()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
