<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">      <label>User ID </label>        <input class="input" type="text" disabled value="{{row.entity.userid}}" /> </div>
      <div class="block">      <label>Retailer ID </label>    <input class="input" type="text" ng-model="row.entity.retailerid"/>        </div>
      <div class="block">      <label>Points </label>         <input class="input" type="number" ng-model="row.entity.points"/>            </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveUserPoint()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeUserPoint()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
