
<div class="col-md-14 col-md-offset-1" >

  <!-- Qty, Stock No, Stock Title,  UnitPrice, Extended Price, Price including Vat -->
  <!-- Include Loyalty Discounts and Total -->
  <div class="tg">
    <table  ng-repeat="ord in orders">
      <tr>
        <td align="center" colspan="4">Orders</td>
      </tr>
      <tr>
        <th>Order Id</th>
        <th>Date</th>
        <th>Order Items</th>
        <th>Order Total</th>
      </tr>
      <tr>
        <td>{{ ord.getOrderId() }}</td>
        <td>{{ ord.getDateString() }}</td>
        <td>{{ ord.getOrderItemCount() }}</td>
        <td>{{ ord.getTotal() }}</td>
        <td ng-show="!admin">
          <table class="sortable">
            <tr>
              <td align="center" colspan="4">Order Items</td>
            </tr>
            <tr>
              <th>Stock Item Id</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Row Total</th>

            </tr>
            <tr ng-repeat="oritem in ord.orderItems">
              {{oritem}}
              <!--{{ord}}-->
              <td>{{ oritem.stockItemId }}</td>
              <td>{{ oritem.unitPrice }}</td>
              <td>{{ oritem.quantity }}</td>
              <td>{{ oritem.unitPrice * oritem.quantity }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

</div>
