<!doctype html>
<html>
<head>

</head>
app/lib/angular164.min.js
<script src="/app/lib/angular164.min.js"></script>
<script src="/app/lib/angular164-route.min.js"></script>

<!--<script src="../Models/loadModels.js"></script>-->
<script src="../Models/Account.js"></script>
<script src="../Models/Cart.js"></script>
<script src="../Models/CartItem.js"></script>
<script src="../Models/Order.js"></script>
<script src="../Models/OrderItem.js"></script>
<script src="../Models/StockItem.js"></script>
<script src="../Models/StockReview.js"></script>
<script src="../Models/Manufacturer.js"></script>
<script src="../Models/ItemCategory.js"></script>
<script src="../Models/Session.js"></script>


<body>

<p> testing...</p>

<script>
    "use strict";
    let man = new Manufacturer();

    man.setName("samsung");

    document.write(man.getName());

    let it  = new Manufacturer();
    let it1 = new Account();
    let it2 = new Order();
    let it3 = new OrderItem();
    let it4 = new Cart();
    let it5 = new CartItem();
    let it6 = new Session();
    let it7 = new StockItem();
    let it8 = new ItemCategory();
    let it9 = new StockReview();

    it.setName("Apple");
    man.setContactName("Apple");
    man.getName();


    document.write(it.toString());
    document.write(it1.toString());
    document.write(it2.toString());
    document.write(it3.toString());
    document.write(it4.toString());
    document.write(it5.toString());
    document.write(it6.toString());
    document.write(it7.toString());
    document.write(it8.toString());
    document.write(it9.toString());

    console.log(man);
    console.log(it1);
    console.log(it2);
    console.log(it3);
    console.log(it4);
    console.log(it5);
    console.log(it6);
    console.log(it7);
    console.log(it8);
    console.log(it9);


</script>



</body>
</html>
