
<div>
  <div class="modal-header">
    <h3 class="modal-title text-center">Approve Loyalty Reward</h3>
  </div >
  <div class="modal-body">

    <form name="serviceForm" class="form-horizontal " >

      <div class="form-group">      <label class="control-label col-sm-4">Loyalty Reward ID </label>  <input class="input col-sm-5" title="Loyalty Reward ID" type="text"  disabled value="{{row.entity.loyaltyRewardid}}"/> </div>
      <div class="form-group">      <label class="control-label col-sm-4" >Retailer </label>          <input class="input col-sm-5" title="Retailer"          type="text"  disabled value="{{row.entity.storeName}}"/>       </div>
      <div class="form-group">      <label class="control-label col-sm-4" >Points Per Visit </label>  <input class="input col-sm-5" title="Points Per Visit"  type="text"  disabled value="{{row.entity.pointsPerVisit}}"/>  </div>
      <div class="form-group">      <label class="control-label col-sm-4" >Reward Image </label>      <input class="input col-sm-5" title="Reward Image"      type="text"  disabled value="{{row.entity.rewardImage}}"/>     </div>
      <div class="form-group">      <label class="control-label col-sm-4" >Reward Title </label>      <input class="input col-sm-5" title="Reward Title"      type="text"  disabled value="{{row.entity.rewardTitle}}"/>     </div>
      <div class="form-group">      <label class="control-label col-sm-4" >Visit Time </label>        <input class="input col-sm-5" title="Visit Time"        type="text"  disabled value="{{row.entity.visitTime}}"/>       </div>
      <div class="form-group" id="select">
        <label class="control-label col-sm-4">Approved </label>
        <select class="input col-sm-5" ng-model="row.entity.approved" ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" title="Approved"></select>
      </div>

      <div class="form-group input md-datepicker-input">      <label class="control-label col-sm-7">Start Date </label>
        <md-datepicker ng-model       = "row.entity.sDate "
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minStartDate"
                       md-max-date    = "row.entity.eDate"
                       required class="col-sm-5">
        </md-datepicker>
      </div>
      <div class="form-group input md-datepicker-input">      <label class="control-label col-sm-7">End Date </label>
        <md-datepicker ng-model       = "row.entity.eDate"
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minEndDate"
                       md-max-date    = "row.entity.maxEndDate"
                       required class="col-sm-5">
        </md-datepicker>
      </div>


        <div class="modal-footer">
          <!--<div style="align-content: center;" >-->
        <button class="btn btn-primary " ng-click="vm.approveLoyaltyReward(row)">Save</button>
        <button class="btn btn-primary " ng-click="vm.removeLoyaltyReward(row)">Delete</button>
        <button class="btn btn-primary " ng-click="$close()">Cancel</button>
        </div>
    </form>
      </div>


    </div>


</div>
