<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">


      <div class="block">      <label>Content ID </label> <input class="input" title="Content ID" type="text"   disabled value="{{row.entity.contentid}}"/></div>
      <div class="block">      <label>Retailer </label>   <input class="input" title="Retailer"   type="text"   disabled value="{{row.entity.storeName}}"/></div>
      <div class="block">      <label>Page 1</label>      <input class="input" title="Page 1"     type="text"   disabled value="{{row.entity.page1}}"/>    </div>
      <div class="block">      <label>Page 2 </label>     <input class="input" title="Page 2"     type="text"   disabled value="{{row.entity.page2}}"/>    </div>
      <div class="block">      <label>Page 3 </label>     <input class="input" title="Page 3"     type="text"   disabled value="{{row.entity.page3}}"/>    </div>

      <div class="block">  <label>Approved </label>
        <select class="input" ng-model="row.entity.approved" ng-options="o.v as o.n for o in [{ n: 'False', v: false }, { n: 'True', v: true }]" title="Approved"></select>
      </div>

        <br/>
      <div class="block input md-datepicker-input">      <label>Start Date </label>
        <md-datepicker ng-model       = "row.entity.sDate "
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minStartDate"
                       md-max-date    = "row.entity.eDate"
                       required >
        </md-datepicker>
      </div>
      <div class="block input md-datepicker-input">      <label>End Date </label>
        <md-datepicker ng-model       = "row.entity.eDate"
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minEndDate"
                       md-max-date    = "row.entity.maxEndDate"
                      required >
        </md-datepicker>
      </div>

    </form>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ vm.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.uploadProgress }}%;">
        {{ vm.uploadProgress == 0 ? '' : vm.uploadProgress + '%' }}
      </div>
    </div>



  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.approveContent()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeContent()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>

