<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">

      <div class="block">  <label>Content ID </label> <input class="input" title="Content ID" type="text"   disabled value="{{row.entity.contentid}}"/></div>
      <div class="block">  <label>Retailer </label>   <input class="input" title="Retailer"   type="text"   disabled value="{{row.entity.storeName}}"/></div>
      <br/>
      <div class="block">      <label>Page 1</label>

        <!--<input class="bottom-marg-15" type="file" name="file" file/>-->
        <input file-upload="fileUploadOptions" type="file" multiple data-sequential-uploads="true" />
        <input  class="input" title="Page 1" ng-model="row.entity.page1"/>
        <a class="btn-sm btn-info" ng-click="vm.upload(file, 'C', row.entity.contentid, row.entity.page1, row)">Upload Page 1</a>

      </div>
      <br/>
      <div class="block">      <label>Page 2 </label>
        <input class="bottom-marg-15" type="file" name="file" ng-model="row.entity.filename2" file/>
        <input class="input" title="Page 2" type="text"   ng-model="row.entity.page2" file/>
        <a     class="btn-sm btn-info "  ng-click="vm.upload(file,'C',row.entity.contentid,row.entity.page2)">Upload Page 2</a>
      </div>
      <br/>
      <div class="block">      <label>Page 3 </label>
        <input class="bottom-marg-15" type="file" name="file" ng-model="row.entity.filename3" file/>
        <input class="input" title="Page 3" type="text"   ng-model="row.entity.page3"/>
        <a     class="btn-sm btn-info " ng-click="vm.upload(file,'C',row.entity.contentid,row.entity.page3)">Upload Page 3</a>
      </div>
      <br/>
      <div class="block">      <label>Approved </label>    <input class="input" title="Approved" type="text"   disabled value="{{row.entity.approved}}"/>            </div>

      <br/>
      <div class="block input md-datepicker-input">      <label>Start Date </label>
        <md-datepicker ng-model       = "row.entity.sDate "
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minStartDate"
                       md-max-date    = "row.entity.eDate"
                       required >
        </md-datepicker>
      </div>
      <div class="block input md-datepicker-input">      <label>End Date </label>
        <md-datepicker ng-model       = "row.entity.eDate"
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minEndDate"
                       md-max-date    = "row.entity.maxEndDate"
                       required >
        </md-datepicker>
      </div>
    </form>

  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ vm.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.uploadProgress }}%;">
      {{ vm.uploadProgress == 0 ? '' : vm.uploadProgress + '%' }}
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveContent()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeContent()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>



