<div>
  <div class="modal-header">
    <h3 class="modal-title text-center">Edit Shopping Center</h3>
  </div >
  <div class="modal-body">

    <form name="serviceForm" class="form-horizontal " >

      <div class="form-group">      <label class="control-label col-sm-4"> Shopping Centre ID </label> <input class="input col-sm-5"  type="text"   disabled value="{{row.entity.shoppingCentreid}}"/> </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Admin ID </label>           <input class="input col-sm-5"  type="text"   ng-model="row.entity.adminid"/>             </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Fullname </label>           <input class="input col-sm-5"  type="text"   ng-model="row.entity.fullname"/>             </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Content Page </label>       <input class="input col-sm-5"  type="text"   ng-model="row.entity.contentPage"/>         </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Phone </label>              <input class="input col-sm-5"  type="text"   ng-model="row.entity.phone"/>               </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Facebook Url </label>       <input class="input col-sm-5"  type="text"   ng-model="row.entity.facebookUrl"/>         </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Twitter Url </label>        <input class="input col-sm-5"  type="text"   ng-model="row.entity.twitterUrl"/>          </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Website Url </label>        <input class="input col-sm-5"  type="text"   ng-model="row.entity.websiteUrl"/>          </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Logo Image Small </label>   <input class="input col-sm-5"  type="text"   ng-model="row.entity.logoImageSmall"/>      </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Logo Image Medium </label>  <input class="input col-sm-5"  type="text"   ng-model="row.entity.logoImageMedium"/>     </div>
      <div class="form-group">      <label class="control-label col-sm-4"> Logo Image Large </label>   <input class="input col-sm-5"  type="text"   ng-model="row.entity.logoImageLarge"/>      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveShoppingCentre()">Save</button>
    <!--<button class="btn btn-primary" ng-click="vm.removeShoppingCentre()">Delete</button>-->
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
