<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">
    <Form>
      <div class="block">   <label>Loyalty Reward ID </label> <input class="input" title="" type="text"   disabled value="{{row.entity.loyaltyRewardid}}"/></div>
        <div class="block"> <label>Points Per Visit </label>  <input class="input" title="" type="number" ng-model="row.entity.pointsPerVisit"/>           </div>

      <br/>
        <div class="block">      <label>Reward Image </label>

          <input class="bottom-marg-15" type="file" name="file" file/>
          <input class="input" title="" type="text"   ng-model="row.entity.rewardImage"/>
          <a     class="btn-sm btn-info" ng-click="upload()">Upload New Image</a>
        </div>
      <br/>
        <div class="block">  <label>Retailer ID  </label>  <input class="input" title="" type="text"   disabled value="{{row.entity.storeName}}"/> </div>
        <div class="block">  <label>Reward Title </label>  <input class="input" title="" type="text"   ng-model="row.entity.rewardTitle"/>          </div>
        <div class="block">  <label>Visit Time   </label>  <input class="input" title="" type="number" ng-model="row.entity.visitTime"/>            </div>
        <div class="block">  <label>Approved     </label>  <input class="input" title="" type="text"   disabled value="{{row.entity.approved}}"/>   </div>


      <div class="block input md-datepicker-input">      <label>Start Date </label>
        <md-datepicker ng-model       = "row.entity.sDate "
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minStartDate"
                       md-max-date    = "row.entity.eDate"
                       required >
        </md-datepicker>
      </div>
      <div class="block input md-datepicker-input">      <label>End Date </label>
        <md-datepicker ng-model       = "row.entity.eDate"
                       date-format    = "DD-MMM-YYYY HH:MM"
                       md-placeholder = "Enter date"
                       md-min-date    = "row.entity.minEndDate"
                       md-max-date    = "row.entity.maxEndDate"
                       required >
        </md-datepicker>
      </div>



    </form>
    <!-- Progress Bar -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ vm.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.uploadProgress }}%;">
        {{ vm.uploadProgress == 0 ? '' : vm.uploadProgress + '%' }}
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ vm.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.uploadProgress }}%;">
        {{ vm.uploadProgress == 0 ? '' : vm.uploadProgress + '%' }}
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveLoyaltyReward()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeLoyaltyReward()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
<script>





</script>
