
<div>
  <div class="modal-header">
    <h3 class="modal-title text-center">Edit Retailer</h3>
  </div >
  <div class="modal-body">

    <form name="serviceForm" class="form-horizontal " >

      <div class="form-group">  <label class="control-label col-sm-4">Retailerid </label>                 <input class="input col-sm-5"  type="text" disabled value="{{row.entity.retailerid}}" />  </div>
      <div class="form-group">  <label class="control-label col-sm-4">Default ContentPage1 </label>       <input class="input col-sm-5"  type="text" ng-model="row.entity.defaultContentPage1"/>    </div>
      <div class="form-group">  <label class="control-label col-sm-4">Default ContentPage2 </label>       <input class="input col-sm-5"  type="text" ng-model="row.entity.defaultContentPage2"/>    </div>
      <div class="form-group">  <label class="control-label col-sm-4">Default ContentPage3 </label>       <input class="input col-sm-5"  type="text" ng-model="row.entity.defaultContentPage3"/>    </div>
      <div class="form-group">  <label class="control-label col-sm-4">Default LoyaltyRewardImage </label> <input class="input col-sm-5"  type="text" ng-model="row.entity.defaultLoyaltyRewardImage"/></div>
      <div class="form-group">  <label class="control-label col-sm-4">Facebook Url </label>               <input class="input col-sm-5"  type="text" ng-model="row.entity.facebookUrl"/>            </div>
      <div class="form-group">  <label class="control-label col-sm-4">Twitter Url </label>                <input class="input col-sm-5"  type="text" ng-model="row.entity.twitterUrl"/>             </div>
      <div class="form-group">  <label class="control-label col-sm-4">Website Url </label>                <input class="input col-sm-5"  type="text" ng-model="row.entity.websiteUrl"/>             </div>
      <div class="form-group">  <label class="control-label col-sm-4">Logo Image Small </label>           <input class="input col-sm-5"  type="text" ng-model="row.entity.logoImageSmall"/>         </div>
      <div class="form-group">  <label class="control-label col-sm-4">Logo Image Large </label>           <input class="input col-sm-5"  type="text" ng-model="row.entity.logoImageLarge"/>         </div>
      <div class="form-group">  <label class="control-label col-sm-4">Logo Image Medium </label>          <input class="input col-sm-5"  type="text" ng-model="row.entity.logoImageMedium"/>        </div>
      <div class="form-group">  <label class="control-label col-sm-4">Phone </label>                      <input class="input col-sm-5"  type="text" ng-model="row.entity.phone"/>                  </div>
      <div class="form-group">  <label class="control-label col-sm-4">Store Name </label>                 <input class="input col-sm-5"  type="text" ng-model="row.entity.storeName"/>              </div>
      <div class="form-group">  <label class="control-label col-sm-4">Header Background Image </label>    <input class="input col-sm-5"  type="text" ng-model="row.entity.headerBackgroundImage"/> </div>

      <div class="form-group">
        <label class="control-label col-sm-4">Manager ID</label>
        <select class="input col-sm-5" ng-selected="$last" ng-model="row.entity.managerid" ng-options="x.fullname for x in row.entity.managers " value="{{x.userid}}" title="Manager ID">{{$last}}</select>
      </div>

      <!--<div class="form-group">  <label class="control-label col-sm-4">Manager ID </label>                 <input class="input col-sm-5"  type="text" disabled value="{{row.entity.managerid}}"/>   </div>-->
      <div class="form-group">  <label class="control-label col-sm-4">Shopping Centre ID </label>         <input class="input col-sm-5"  type="text" disabled value="{{row.entity.shoppingCentreid}}"/> </div>
      <!--<div class="form-group">  <label class="control-label col-sm-4">Store Default Content Page 1</label><input class="input col-sm-5"  type="text" ng-model="row.entity.storeDefaultContentPage1"/>   </div>-->
      <!--<div class="form-group">  <label class="control-label col-sm-4">Zone ID </label>                    <input class="input col-sm-5"  type="text" disabled value="{{row.entity.zoneid}}"/>      </div>-->

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveRetailer()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeRetailer()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
