<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">
    <form name="serviceForm">
      <div class="block">      <label>Visit ID </label>       <input class="input" type="text"  disabled value="{{row.entity.visitid}}" />  </div>
      <div class="block">      <label>Entry Time </label>     <input class="input" type="time"    ng-model="row.entity.entryTime"/>           </div>
      <div class="block">      <label>Exit Time </label>      <input class="input" type="time"    ng-model="row.entity.exitTime"/>            </div>
      <div class="block">      <label>Duration </label>       <input class="input" type="number"  ng-model="row.entity.duration"/>            </div>
      <div class="block">      <label>User ID </label>        <input class="input" type="text"  ng-model="row.entity.userid"/>              </div>
      <div class="block">      <label>Zone ID </label>        <input class="input" type="text"  ng-model="row.entity.zoneid"/>              </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveVisit()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeVisit()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
