<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Row</h3>
  </div>
  <div class="modal-body">

    <form name="serviceForm">
      <div>
        <div class="block">      <label>Bonus Code ID </label>  <input class="input" type="text"   disabled value="{{row.entity.bonusCodeid}}"/></div>
        <div class="block">      <label>Date Time </label>      <input class="input" type="text"   ng-model="row.entity.dateTime"/>        </div>
        <div class="block">      <label>Retailer ID </label>    <input class="input" type="text"   ng-model="row.entity.retailerid"/>      </div>
        <div class="block">      <label>User ID </label>        <input class="input" type="text"   ng-model="row.entity.userid"/>          </div>
        <div class="block">      <label>Value </label>          <input class="input" type="number" ng-model="row.entity.value"/>           </div>

      </div>

    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.saveBonusCode()">Save</button>
    <button class="btn btn-primary" ng-click="vm.removeBonusCode()">Delete</button>
    <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>
