<!DOCTYPE html>
<html lang="en" xmlns:src="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="../lib/angular164.min.js"></script>
  <script src="../lib/angular164-route.min.js"></script>
  <script src="../lib/angular164-resource.min.js"></script>
</head>
<body data-ng-app="myApp" >
  <b> testing </b>

  <script src="../lib/underscore-min.js"></script>
  <script src="../lib/lodash.js"></script>
  <script src="../lib/dojo.js"></script>
  <script src="../lib/jquery-3.2.1.min.js"></script>

  <script src="../js/controllers/main.js"></script>
  <script src="../js/controllers/factory.js"></script>
  <script src="../Models/Account.js"></script>
  <script src="../Models/Manufacturer.js"></script>
  <script src="../Models/ItemCategory.js"></script>
  <script src="../Models/Session.js"></script>


  <div data-ng-controller="StartupController" data-ng-model="sessions">
    <!--{{ accounts }}-->
    <!--{{ accounts2 }}-->

    <!--{{accounts}}-->

    <div  data-ng-repeat="acc in sessions">

      {{acc.getDateEnd()}}

    </div>
    <div  data-ng-model="itemCategories" data-ng-repeat="acc in itemCategories">

      {{acc.getType()}}

    </div>
  </div>
</body>
</html>
