<div  style="text-align:center;" >
  <h2>{{vm.chartTitle}}</h2>
</div>
<div ng-if="allowAddRow">
  <div style="margin-left:5%;">
    <button type="button" id="addRow" class="btn btn-success" ng-click="addingRow=true; addRow()">Add New Row</button>
  </div>
</div>
<div ng-if="allowAddRow" >
  <div >
    <div style="margin-left:5%;">

      </div>
      <br/>


      <div       id="serviceGrid" class="shopTrawler"
            ui-grid-exporter
            ui-grid-auto-resize
            ui-grid-pinning
            ui-grid-selection
            ui-grid-pagination
            ui-grid-move-columns
            ui-grid-edit
            ui-grid="vm.serviceGrid" >
      </div>
  </div>
