
<div class="col-md-14 col-md-offset-1" >
  <div class="tg">
    <table class="sortable" >
      <thead>
        <tr>
          <td>Beacon ID</td>
          <td>UUID</td>
          <td>Major</td>
          <td>Minor</td>
          <td>Location ID</td>
          <td>Transmit Power</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="a in beacons">
          <td>{{a.getBeaconid() }}     </td>
          <td>{{a.getUuid()     }}     </td>
          <td>{{a.getMajor()    }}     </td>
          <td>{{a.getMinor()    }}     </td>
          <td>{{a.getLocationid()}}    </td>
          <td>{{a.getTransmitPower()}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
