<!-- script brought in here because when placed in index.html it did not work-->
<!--<script src="../../lib/sorttable.js"></script>-->

<div class="col-md-14 col-md-offset-1" >
  <div class="tg">
    <table class="sortable" >

      <tr >
        <th class="sorttable_numeric">Zone ID</th>
        <th>Beacon ID</th>
        <th>Zone Name</th>


      </tr>
      <tr ng-repeat="a in zones" >
        <td>{{a.getZoneid()}}</td>
        <td>{{a.getBeaconid()}}</td>
        <td>{{a.getZoneName()}}</td>
      </tr>
      <!-- Now show table for order items with this order -->

    </table>
  </div>

</div>
