<div class="col-md-14 col-md-offset-1" >
  <div class="tg">

    <div style="padding-left: 30px;">
      <button type="button" id="addRow" class="btn btn-success" ng-click="addRow()">Add Row</button>
    </div>
    <br />

    <div id="serviceGrid" class="shopTrawler"
         ui-grid-move-columns
         ui-grid-selection
         ui-grid-resize-columns
         ui-grid-pinning
         ui-grid-exporter
         ui-grid-auto-resize
         ui-grid-edit
         ui-grid-pagination
         ui-grid="vm.serviceGrid" >

    </div>
    </div>

</div>




