<!-- script brought in here because when placed in index.html it did not work-->
<!--<script src="../../lib/sorttable.js"></script>-->

<div class="col-md-14 col-md-offset-1" >
  <div class="tg">
    <table class="sortable" >

      <tr >
        <th class="sorttable_numeric">Bonus Code ID</th>
        <th>DateTime</th>
        <th>Retailer ID</th>
        <th>Store Name</th>
        <th>User ID</th>
        <th>Users Name</th>
        <th>Value</th>

      </tr>
      <tr ng-repeat="a in bonusCodes" >
        <td>{{a.getBonusCodeid()}}</td>
        <td>{{a.getDateTimeString()}}</td>
        <td>{{a.getRetailerid()}}</td>
        <td>{{a.storeName}}</td>
        <td>{{a.getUserid()}}</td>
        <td>{{a.fullname}}</td>
        <td>{{a.getValue()}}</td>
      </tr>
      <!-- Now show table for order items with this order -->

    </table>
  </div>

</div>
