<div  style="text-align:center;">
  <h2>{{vm.chartTitle}}</h2>
</div>
<div class="col-md-14 col-md-offset-1" >
  <div class="tg">

      <tr >
        <th class="sorttable_numeric">User ID</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Email Address</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Password</th>
        <th>Type</th>
        <th>YOB</th>
        <th>Active</th>

      </tr>
      <tr ng-repeat="a in users" >
        <td>{{a.getUserid()}}</td>
        <td>{{a.getFirstname()}}</td>
        <td>{{a.getSurname()}}</td>
        <td><a href="{{a.getEmailAddress()}}">{{a.getEmailAddress()}}</a></td>
        <td>{{a.getPhone()}}</td>
        <td>{{a.getGender()}}</td>
        <td>{{a.getPassword()}}</td>
        <td>{{a.getType()}}</td>
        <td>{{a.getYob()}}</td>
        <td>{{a.getActive()}}</td>

      </tr>

    </table>
  </div>

</div>
