<!-- script brought in here because when placed in index.html it did not work-->
<!--<script src="../../lib/sorttable.js"></script>-->

<div class="col-md-14 col-md-offset-1" >
  <div class="tg">
    <table class="sortable" >

      <tr >
        <th class="sorttable_numeric">Loyalty Reward ID</th>
        <th>End Date</th>
        <th>Points Per Visit</th>
        <th>Reward Image</th>
        <th>Retailer ID</th>
        <th>Store Name</th>
        <th>Reward Title</th>
        <th>Start Date</th>
        <th>Visit Time</th>

      </tr>
      <tr ng-repeat="a in loyaltyRewards" >
        <td>{{a.getLoyaltyRewardid()}}</td>
        <td>{{a.getEndDateReadable()}}</td>
        <td>{{a.getPointsPerVisit()}}</td>
        <td><img ng-src="{{a.getRewardImage()}}"  height="42" /></td>
        <td>{{a.getRetailerid()}}</td>
        <td>{{a.storeName}}</td>
        <td>{{a.getRewardTitle()}}</td>
        <td>{{a.getStartDateReadable()}}</td>
        <td>{{a.getVisitTime()}}</td>
      </tr>
      <!-- Now show table for order items with this order -->

    </table>
  </div>

</div>
